

.thumbnail {
    width: 100%;
    margin-top: 10px;
}



.video-title {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    width: 230px;
}

.video-author {
    font-weight: 500;
    color: rgb(93, 88, 88);
    font-size: 12px;
    margin-bottom: 8px;

}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 14px;

}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.video-stats {
    font-weight: 500;
    color: black;
    font-size: 12px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;

}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}
.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;

}